body{
    background: #454545;
    line-height:1.7;
    font-family: 楷体;
    box-sizing: border-box;
}
a{
    text-decoration:none;
}
a,body{
    font-size:20px;
    color:#eee;
}
.nav-bar{
    float:left;
    width:15%;
    padding:20px;
}
.nav-bar>div{
    margin-bottom:20px;
}
.logo{
    width:85%;
    border:2px solid #eee;
    font-size:30px;
    text-align:center;
    cursor: pointer;
}
.nav-bar .nav li{
    font-weight:bold;
    display:block;
    color:#888;
    padding:5px 20px;
    -webkit-transition: color 200ms linear;
    -moz-transition: color 200ms linear;
    -ms-transition: color 200ms linear;
    -o-transition: color 200ms linear;
    transition: color 200ms linear;
}
.nav-bar .nav li:hover{
    cursor: pointer;
    color:#eee;
}
.main{
    float:right;
    width:75%;
    background: #fff;
    color:#454545;
    padding:20px;
}
.main>.item{
    padding:20px;
}
.main>.item>div{
    padding:10px;
}
.main>.item>.title>a{
    color:#454545;
    font-weight:bold;
    font-size:22px;
}
.main>.item>.about{
    color:#999;
    font-size:16px;
}
div[id*="d"]{
    padding:20px;
    height:1000px;
    display:none;
}
